.sign-in-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  margin: 2.5rem 0 3.75rem;
  border: 0.25rem solid #383838;
  border-radius: 0.25rem;
}

#user-name {
  margin: 3.75rem 0 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

#user-name > span {
  font-size: 2rem;
  font-weight: 700;
}

.sign-in-data {
  margin: 0.625rem 0;
  font-size: 1.25rem;
  text-align: left;
  width: 60%;
}

.last {
  margin-bottom: 3.75rem;
}
