#entrance-button {
  padding: 0.5rem 6.25rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
  background-color: #ffffff;
  border-radius: 0.25rem;
}

#entrance-button:hover {
  cursor: pointer;
  background-color: #383838;
}
